// mygrid2
.grid
	display flex
	flex-flow row wrap
	box-sizing border-box
	
	div,
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	main,
	nav,
	section,
	summary,
	li,
	ul
		box-sizing border-box

				
	&.box2
		>
			div,
			article,
			aside,
			details,
			figcaption,
			figure,
			footer,
			header,
			hgroup,
			main,
			nav,
			section,
			summary,
			li,
			ul	
				width 50%	
				
	&.box3
		>
			div,
			article,
			aside,
			details,
			figcaption,
			figure,
			footer,
			header,
			hgroup,
			main,
			nav,
			section,
			summary,
			li,
			ul
				width 33.33333333333333%	
													
	&.box4
		>
			div,
			article,
			aside,
			details,
			figcaption,
			figure,
			footer,
			header,
			hgroup,
			main,
			nav,
			section,
			summary
			li,
			ul
				width 25%														
	&.box5
		>
			div,
			article,
			aside,
			details,
			figcaption,
			figure,
			footer,
			header,
			hgroup,
			main,
			nav,
			section,
			summary
			li,
			ul
				width 20%	
						
	&.jc-sb
		justify-content space-between
	&.jc-ce
		justify-content center
	&.jc-fe
		justify-content flex-end
	&.jc-fs
		justify-content flex-start
		
	&.ai-c
		align-items center		
		
	&.center
		align-items center
		justify-content center
		
	&.fdc1024
		@media screen and (max-width:1024px)
			flex-direction column
			>
				div,
				article,
				aside,
				details,
				figcaption,
				figure,
				footer,
				header,
				hgroup,
				main,
				nav,
				section,
				summary
					width 100%
	
	&.fdc960
		@media screen and (max-width:960px)
			flex-direction column
			>
				div,
				article,
				aside,
				details,
				figcaption,
				figure,
				footer,
				header,
				hgroup,
				main,
				nav,
				section,
				summary
					width 100%
	
	&.fdc768
		@media screen and (max-width:768px)
			flex-direction column
			>
				div,
				article,
				aside,
				details,
				figcaption,
				figure,
				footer,
				header,
				hgroup,
				main,
				nav,
				section,
				summary
					width 100%	
	&.fdc640
		@media screen and (max-width:640px)
			flex-direction column
			>
				div,
				article,
				aside,
				details,
				figcaption,
				figure,
				footer,
				header,
				hgroup,
				main,
				nav,
				section,
				summary
					width 100%	
	&.fdc600
		@media screen and (max-width:600px)
			flex-direction column
			>
				div,
				article,
				aside,
				details,
				figcaption,
				figure,
				footer,
				header,
				hgroup,
				main,
				nav,
				section,
				summary
					width 100%	
	&.fdc480
		@media screen and (max-width:480px)
			flex-direction column
			>
				div,
				article,
				aside,
				details,
				figcaption,
				figure,
				footer,
				header,
				hgroup,
				main,
				nav,
				section,
				summary
					width 100%
	&.fdc320
		@media screen and (max-width:320px)
			flex-direction column
			>
				div,
				article,
				aside,
				details,
				figcaption,
				figure,
				footer,
				header,
				hgroup,
				main,
				nav,
				section,
				summary
					width 100%
					


	// &.fsize*="50"]
	// 	>
	// 		div
	// 			&:nth-child(1)
	// 				background-color red
	
	// &[fsize*="40"]
	// 	>
	// 		div
	// 			&:nth-child(2)
	// 				background-color blue
		
	.ww1
		width 1%
	.ww2
		width 2%
	.ww3
		width 3%
	.ww4
		width 4%
	.ww5
		width 5%
	.ww6
		width 6%
	.ww7
		width 7%
	.ww8
		width 8%
	.ww9
		width 9%
	.ww10
		width 10%
	.ww11
		width 11%
	.ww12
		width 12%
	.ww13
		width 13%
	.ww14
		width 14%
	.ww15
		width 15%
	.ww16
		width 16%
	.ww17
		width 17%
	.ww18
		width 18%
	.ww19
		width 19%
	.ww20
		width 20%
	.ww21
		width 21%
	.ww22
		width 22%
	.ww23
		width 23%
	.ww24
		width 24%
	.ww25
		width 25%
	.ww26
		width 26%
	.ww27
		width 27%
	.ww28
		width 28%
	.ww29
		width 29%
	.ww30
		width 30%
	.ww31
		width 31%
	.ww32
		width 32%
	.ww33
		width 33%
	.ww34
		width 34%
	.ww35
		width 35%
	.ww36
		width 36%
	.ww37
		width 37%
	.ww38
		width 38%
	.ww39
		width 39%
	.ww40
		width 40%
	.ww41
		width 41%
	.ww42
		width 42%
	.ww43
		width 43%
	.ww44
		width 44%
	.ww45
		width 45%
	.ww46
		width 46%
	.ww47
		width 47%
	.ww48
		width 48%
	.ww49
		width 49%
	.ww50
		width 50%
	.ww51
		width 51%
	.ww52
		width 52%
	.ww53
		width 53%
	.ww54
		width 54%
	.ww55
		width 55%
	.ww56
		width 56%
	.ww57
		width 57%
	.ww58
		width 58%
	.ww59
		width 59%
	.ww60
		width 60%
	.ww61
		width 61%
	.ww62
		width 62%
	.ww63
		width 63%
	.ww64
		width 64%
	.ww65
		width 65%
	.ww66
		width 66%
	.ww67
		width 67%
	.ww68
		width 68%
	.ww69
		width 69%
	.ww70
		width 70%
	.ww71
		width 71%
	.ww72
		width 72%
	.ww73
		width 73%
	.ww74
		width 74%
	.ww75
		width 75%
	.ww76
		width 76%
	.ww77
		width 77%
	.ww78
		width 78%
	.ww79
		width 79%
	.ww80
		width 80%
	.ww81
		width 81%
	.ww82
		width 82%
	.ww83
		width 83%
	.ww84
		width 84%
	.ww85
		width 85%
	.ww86
		width 86%
	.ww87
		width 87%
	.ww88
		width 88%
	.ww89
		width 89%
	.ww90
		width 90%
	.ww91
		width 91%
	.ww92
		width 92%
	.ww93
		width 93%
	.ww94
		width 94%
	.ww95
		width 95%
	.ww96
		width 96%
	.ww97
		width 97%
	.ww98
		width 98%
	.ww99
		width 99%
	.ww100
		width 100%
