{% extends "common/_base.html" %}

{% block cssadicional %}

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}


<div style="; background-color: #eaeaea;display: flex;">
    {% for row in "5"|get_range %}
    <div style="height:0px;padding-top: 25%; width: 300px; background-color: #fff;flex:1;margin: 10px 5px;" ></div>
    {% endfor %}
</div>
<div style="; background-color: #eaeaea;display: flex;">
    {% for row in "5"|get_range %}
    <div style="height:0px;padding-top: 25%; width: 300px; background-color: #fff;flex:1;margin: 10px 5px;" ></div>
    {% endfor %}
</div>
<div style="; background-color: #eaeaea;display: flex;">
    {% for row in "5"|get_range %}
    <div style="height:0px;padding-top: 25%; width: 300px; background-color: #fff;flex:1;margin: 10px 5px;" ></div>
    {% endfor %}
</div>
<div style="height: 40vh;"></div>
<div style="; background-color: #eaeaea;display: flex;">
    {% for row in "5"|get_range %}
    <div style="height:0px;padding-top: 25%; width: 300px; background-color: #fff;flex:1;margin: 10px 5px;" ></div>
    {% endfor %}
</div>
<div style="; background-color: #eaeaea;display: flex;">
    {% for row in "5"|get_range %}
    <div style="height:0px;padding-top: 25%; width: 300px; background-color: #fff;flex:1;margin: 10px 5px;" ></div>
    {% endfor %}
</div>
<div style="; background-color: #eaeaea;display: flex;">
    {% for row in "5"|get_range %}
    <div style="height:0px;padding-top: 25%; width: 300px; background-color: #fff;flex:1;margin: 10px 5px;" ></div>
    {% endfor %}
</div>

{% endblock %}

{% block jsfinal %}
<script type="text/javascript">
    $(function(){

    });
</script>
{% endblock %}
